In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv('sports.csv')
dataset

       Name  Age Gender     Sport
0      Love   32      M  Football
1   Anirudh   40      M   Neither
2     Pooja   16      F   Cricket
3     Priya   34      F   Cricket
4  Akhilesh   55      M   Neither
5     Rahul   40      M   Cricket
6      Riya   20      F   Neither
7     Smith   15      M   Cricket
8     Laxmi   45      F  Football
9      John   15      M  Football

In [3]:
dataset.shape

(10, 4)

In [4]:
dataset.isnull().sum()

Name      0
Age       0
Gender    0
Sport     0
dtype: int64

In [5]:
X=dataset.iloc[:,1:3].values
y=dataset.iloc[:,3].values
X

array([[32, 'M'],
       [40, 'M'],
       [16, 'F'],
       [34, 'F'],
       [55, 'M'],
       [40, 'M'],
       [20, 'F'],
       [15, 'M'],
       [45, 'F'],
       [15, 'M']], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
labelEncoder_x=LabelEncoder()
X[:,1]=labelEncoder_x.fit_transform(X[:,1])
X

array([[32, 1],
       [40, 1],
       [16, 0],
       [34, 0],
       [55, 1],
       [40, 1],
       [20, 0],
       [15, 1],
       [45, 0],
       [15, 1]], dtype=object)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=3)
classifier.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [8]:
y_pred=classifier.predict([[5,0]])[0]
y_pred

'Cricket'